{% extends 'base.html.twig' %}

{% block body  %}
    <div class="container mt-5">
            <h1 class="d-flex justify-content-center text-light">Création d'un nouveau Client</h1>
        <div>
            {{ form_start(form)}}

            {{ form_row(form.name)}}
            {{ form_row(form.solde)}}

    

            {{ form_end(form)}}

        
        </div>
    
    </div>


{% endblock  %}


